* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    margin: .5rem;
}

header h1 {
    font-size: 3rem;
    color: rgb(0, 164, 239);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

header h1 span {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-transform: none;
}

header h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: .4rem;
}

/* główna  */

section {
    padding: 1rem;
    border-radius: .5rem;
    margin: .2rem;
    background-color: whitesmoke;
}

section.edu {
    background-color: rgb(0, 164, 239);
    color: white;
}

section h2 {
    text-transform: uppercase;
    border-bottom: 1px solid;
    margin-bottom: .4rem;
}

section.edu p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .8rem;
}

section.xp {
    color: rgb(0, 164, 239);
    /* border-radius: 2rem; */
}


.xp table {
    width: 100%;
    font-size: .6rem;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

.xp table tr:nth-of-type(1) {
    font-weight: bold;
}

.xp table tr td:nth-child(1) {
    width: 25%;
}

.xp table tr td:nth-child(2) {
    width: 15%;
}

.xp table tr td:nth-child(3) {
    width: 20%;
}

.xp table tr td:nth-child(4) {
    width: 10%;
}

.xp table tr td:nth-child(5) {
    width: 15%;
}

.xp table tr td:nth-child(6) {
    width: 15%;
}

section.cert {
    background-color: rgb(0, 164, 239);
    color: white;
}



section.cert table tr td:nth-of-type(1) {
    width: 50%;
}

section.cert table tr td:nth-of-type(2) {
    width: 5%;
    padding-left: .1rem;
    text-align: justify;
}

section.dp {
    color: rgb(0, 164, 239);
}

span.data {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding: .5rem;
}

section.about {
    background-color: rgb(0, 164, 239);
    color: whitesmoke;
    margin-bottom: .5rem;
}

section.about p {
    padding-bottom: .5rem;
    text-align: center;
}

section.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    color: whitesmoke;
    padding: 0;
}

section.contact div {
    border-radius: .5rem;
    background-color: rgb(0, 164, 239);
    padding: .5rem;
    text-align: center;
    margin-bottom: .5rem;
}

section.hobby {
    background-color: rgb(0, 164, 239);
    color: whitesmoke;
    margin-bottom: .5rem;
}

section.hobby {
    display: none;
}